.version.images /* version checker */
{
	color: #00000C;
	background-color: #4FD28E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1880px;
	min-height: 956px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 20px;
}

#menuu347
{
	z-index: 7;
	width: 1880px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u383
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u384
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u384:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u386-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u384:hover #u386-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u384:active #u386-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u355
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u372
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u373-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	left: 0px;
}

#u384.MuseMenuActive #u386-4,#u372:hover #u373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u372:active #u373-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u348
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 752px;
}

#u349
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u372.MuseMenuActive,#u349:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u384:active,#u349:active
{
	background-color: #6B6B6B;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u351-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u372.MuseMenuActive #u373-4,#u349:hover #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u349:active #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u349.MuseMenuActive #u351-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u376
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1128px;
}

#u379
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u379:hover
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u381-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u379:hover #u381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u379:active #u381-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u964
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1505px;
}

#u965
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u965:hover
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u379:active,#u965:active
{
	background-color: #6B6B6B;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u967-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u379.MuseMenuActive #u381-4,#u965:hover #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u965:active #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u965.MuseMenuActive #u967-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u235-4
{
	z-index: 3;
	width: 151px;
	min-height: 50px;
	background-color: transparent;
	margin-left: 1699px;
	margin-top: 808px;
	position: relative;
}

#u227
{
	z-index: 2;
	width: 150px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1730px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

