.version.originals /* version checker */
{
	color: #0000EA;
	background-color: #921BD4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1880px;
	min-height: 956px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 20px;
}

#menuu476
{
	z-index: 7;
	width: 1880px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u512
{
	width: 468px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u513
{
	width: 468px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u513:hover
{
	background-color: #999999;
	width: 468px;
	min-height: 0px;
	margin: 0px;
}

#u515-4
{
	width: 468px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u513:hover #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 468px;
	margin: 0px -10000px 0px 0px;
}

#u513:active #u515-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 468px;
	margin: 0px -10000px 0px 0px;
}

#u484
{
	width: 468px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 470px;
}

#u501
{
	width: 468px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u501:hover
{
	background-color: #999999;
	width: 468px;
	min-height: 0px;
	margin: 0px;
}

#u513:active,#u501:active
{
	background-color: #6B6B6B;
	width: 468px;
	min-height: 0px;
	margin: 0px;
}

#u502-4
{
	width: 468px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u513.MuseMenuActive #u515-4,#u501:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 468px;
	margin: 0px -10000px 0px 0px;
}

#u501:active #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 468px;
	margin: 0px -10000px 0px 0px;
}

#u501.MuseMenuActive #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 468px;
	margin: 0px -10000px 0px 0px;
}

#u485
{
	width: 120px;
	background-color: transparent;
	top: 52px;
}

#u488
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	top: 0px;
	left: 0px;
}

#u488.MuseMenuActive
{
	background-color: #666666;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u490-4
{
	width: 110px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u488:hover #u490-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u492
{
	width: 120px;
	background-color: transparent;
	left: 120px;
}

#u486,#u487,#u493,#u494
{
	width: 120px;
	background-color: transparent;
	position: relative;
}

#u495
{
	width: 118px;
	border-width: 1px;
	border-style: solid;
	border-color: #777777;
	background-color: #FFFFFF;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
}

#u495:hover
{
	background-color: #AAAAAA;
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u498-4
{
	width: 110px;
	min-height: 13px;
	background-color: transparent;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	font-size: 11px;
	text-align: center;
	line-height: 13px;
	position: relative;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u488.MuseMenuActive #u490-4,#u495:hover #u498-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u495.MuseMenuActive #u498-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	width: 110px;
	margin: 0px -10000px 0px 0px;
}

#u477
{
	width: 469px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 940px;
}

#u478
{
	width: 469px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u478:hover
{
	background-color: #999999;
	width: 469px;
	min-height: 0px;
	margin: 0px;
}

#u480-4
{
	width: 469px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u478:hover #u480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 469px;
	margin: 0px -10000px 0px 0px;
}

#u478:active #u480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 469px;
	margin: 0px -10000px 0px 0px;
}

#u505
{
	width: 469px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1411px;
}

#u508
{
	width: 469px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u508:hover
{
	background-color: #999999;
	width: 469px;
	min-height: 0px;
	margin: 0px;
}

#u478:active,#u508:active
{
	background-color: #6B6B6B;
	width: 469px;
	min-height: 0px;
	margin: 0px;
}

#u510-4
{
	width: 469px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u478.MuseMenuActive #u480-4,#u508:hover #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 469px;
	margin: 0px -10000px 0px 0px;
}

#u508:active #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 469px;
	margin: 0px -10000px 0px 0px;
}

#u508.MuseMenuActive #u510-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 469px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u248-4
{
	z-index: 3;
	width: 151px;
	min-height: 50px;
	background-color: transparent;
	margin-left: 1699px;
	margin-top: 808px;
	position: relative;
}

#u246
{
	z-index: 2;
	width: 150px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1730px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

