.version.tools /* version checker */
{
	color: #0000F4;
	background-color: #2C3405;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1880px;
	min-height: 956px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 20px;
}

#menuu390
{
	z-index: 7;
	width: 1880px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u426
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u427
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u427:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u429-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u427:hover #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u427:active #u429-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u398
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u415
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u415:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u427:active,#u415:active
{
	background-color: #6B6B6B;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u416-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u427.MuseMenuActive #u429-4,#u415:hover #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u415:active #u416-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u391
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 752px;
}

#u392
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u392.MuseMenuActive
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u394-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	left: 0px;
}

#u415.MuseMenuActive #u416-4,#u392:hover #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u392:active #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u392.MuseMenuActive #u394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u419
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1128px;
}

#u422
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u422:hover
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u424-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u422:hover #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u422:active #u424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u978
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1505px;
}

#u979
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u979:hover
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u422:active,#u979:active
{
	background-color: #6B6B6B;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u981-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u422.MuseMenuActive #u424-4,#u979:hover #u981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u979:active #u981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u979.MuseMenuActive #u981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u957-4
{
	z-index: 38;
	width: 1250px;
	min-height: 36px;
	background-color: transparent;
	font-size: 31px;
	line-height: 37px;
	margin-left: 315px;
	margin-top: 75px;
	position: relative;
}

#u957
{
	font-size: 31px;
}

#u242-4
{
	z-index: 3;
	width: 151px;
	min-height: 50px;
	background-color: transparent;
	margin-left: 1699px;
	margin-top: 738px;
	position: relative;
}

#u240
{
	z-index: 2;
	width: 150px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1730px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

