.version.tutorials /* version checker */
{
	color: #00001D;
	background-color: #2ABFB5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1880px;
	min-height: 956px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 20px;
}

#menuu1006
{
	z-index: 2;
	width: 1880px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1049
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1052
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u1052:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1053-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u1052:hover #u1053-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1052:active #u1053-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1021
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u1022
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u1022:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1024-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u1052.MuseMenuActive #u1053-4,#u1022:hover #u1024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1022:active #u1024-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1042
{
	width: 374px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 752px;
}

#u1043
{
	width: 374px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u1043:hover
{
	background-color: #999999;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1052:active,#u1022:active,#u1043:active
{
	background-color: #6B6B6B;
	width: 374px;
	min-height: 0px;
	margin: 0px;
}

#u1044-4
{
	width: 374px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u1022.MuseMenuActive #u1024-4,#u1043:hover #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1043:active #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1043.MuseMenuActive #u1044-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 374px;
	margin: 0px -10000px 0px 0px;
}

#u1014
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1128px;
}

#u1017
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u1017:hover
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u1017:active
{
	background-color: #6B6B6B;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u1020-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u1017:hover #u1020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u1017:active #u1020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u1007
{
	width: 375px;
	min-height: 52px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1505px;
}

#u1010
{
	width: 375px;
	background-color: #C4C4C4;
	padding-bottom: 35px;
	position: relative;
}

#u1010.MuseMenuActive
{
	background-color: #999999;
	width: 375px;
	min-height: 0px;
	margin: 0px;
}

#u1013-4
{
	width: 375px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 17px;
	left: 0px;
}

#u1017.MuseMenuActive #u1020-4,#u1010:hover #u1013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u1010:active #u1013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

#u1010.MuseMenuActive #u1013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 375px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1111-4
{
	z-index: 38;
	width: 624px;
	min-height: 2px;
	background-color: transparent;
	font-size: 31px;
	line-height: 37px;
	margin-left: 628px;
	margin-top: 67px;
	position: relative;
}

#u1111
{
	font-size: 31px;
}

#u1061-4
{
	z-index: 34;
	width: 151px;
	min-height: 50px;
	background-color: transparent;
	margin-left: 1699px;
	margin-top: 704px;
	position: relative;
}

#u1059
{
	z-index: 33;
	width: 150px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1730px;
	margin-top: 15px;
	position: relative;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

