.version.index /* version checker */
{
	color: #000013;
	background-color: #D0D351;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 401px;
	padding-bottom: 71px;
	width: 0.01px;
}

#u254-4
{
	z-index: 3;
	width: 126px;
	min-height: 51px;
	background-color: transparent;
	margin-left: 254px;
	position: relative;
}

#u252
{
	z-index: 2;
	width: 113px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 286px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

